.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

footer {
    padding: 0px;
    margin-top: 0px;
    border-top: 0px;
    color: white;
    background-color: rgb(34, 31, 31);
    bottom:0;
    width: 100%;
  }

.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
}

@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
}

.container {
    width: 100%;
    color: whitesmoke;
}

body {
    background-image: url(bois.png);
    background-repeat: repeat-y;
}
