.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.titre {
  margin:auto;
  display: block;
  text-align: center;
  margin-top: 60px;
  color: whitesmoke;
}

body {
  background-image: url(bois.png);
  background-repeat: repeat;
}

.well {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}

.bouton {
  text-align:center;
}

.test {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 70px;
}

.titre {
  margin:auto;
  display: block;
  text-align: center;
  margin-top: 5%;
  color: whitesmoke;
}