body {
    background-image: url(bois.png);
    background-repeat: repeat;
}

footer {
    color :rgb(110, 110, 110);
    background-color: rgb(34, 31, 31);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.titre {
    margin:auto;
    display: block;
    text-align: center;
    margin-top: 60px;
    color: whitesmoke;
}

.encadre{
    margin-top:5%;
    margin-left: 3%;
}

.encadre2 {
    margin-top: 5%;
    margin-right: 8%;

}

footer {
    color :rgb(110, 110, 110);
    background-color: rgb(34, 31, 31);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.test {
    text-align: center;
}

.aucun {
    margin:auto;
    display: block;
    text-align: center;
    margin-top: 120px;
    color: whitesmoke;
}