.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

footer {
    padding: 0px;
    margin-top: 0px;
    border-top: 0px;
    color: white;
    background-color: rgb(34, 31, 31);
    position:absolute;
    bottom:0;
    width: 100%;
  }

.carousel-inner img {
    width: 100%;
    margin:auto;
    min-height:200px;
}



.container {
    width: 100%;
    color: whitesmoke;
}

.carousel {
    margin-left: 50px;
    margin-top: 50px;
}

body {
    background-image: url(bois.png);
    background-repeat: repeat-y;
}

.bouton {
    margin:auto;
    display: block;
    margin-top: 80px;
    text-align: center;
}

.well {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top:5%;
}

